/* src/components/AddDocumentPage.css */

.add-document-page {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="file"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .confirmation-popup {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .success-screen {
    text-align: center;
  }
  
  .success-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fffdfd;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .back-button:hover {
    background-color: #00b3ff;
  }
  