/* HomePage.css */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradient Background */
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
}

.home-page h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff; /* Change text color for better contrast */
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.documents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.document-box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.document-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.document-box img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #007bff;
}

.document-info {
  padding: 10px;
}

.document-info h2 {
  font-size: 1.2rem;
  color: #007bff;
  margin: 0;
}

.document-info p {
  font-size: 0.9rem;
  color: #555;
}
